.h5p-category-task-dropzone {
  border: 2px dashed #cfcfcf;
  border-radius: 5px;

  & > div {
    font-size: 0.875rem;
    color: #666666;
    text-decoration: none solid rgb(102, 102, 102);
    line-height: 1.25rem;
    flex: auto;
    height: 4rem;
    align-items: center;
    justify-content: center;
    display: flex;
  }
}
