.h5p-dnd-draggable {
  position: relative;
  border-radius: var(--border-radius);

  &.disabled {
    pointer-events: none;
  }

  &.h5p-dnd-draggable--dragging {
    z-index: 1;
  }

  .h5p-category-task-draggable-container {
    position: relative;

    .h5p-category-task-draggable-element > div {
      position: relative;
    }

    .h5p-category-task-draggable-element--dragging {
      border-color: transparent;
    }
  }
}

.h5p-category-task-surface.stacked-view {
  .h5p-category-task-category.h5p-category-task-unprocessed {
    .h5p-dnd-draggable {
      translate: 0 calc(var(--index) * -100%);
      z-index: calc(var(--number-of-arguments) - var(--index));
    }
  }
}
