.h5p-category-task-surface {
  --category-content-padding: var(--spacing-xxs);
  --category-column-padding: var(--spacing-xxs);
  --category-column-border-width: 2px;
  --category-task-surface-gap: var(--spacing-s);

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--category-task-surface-gap);

  &.has-remaining-unprocessed-arguments {
    grid-template-columns: 1fr 1fr;
  }

  &:not(.has-remaining-unprocessed-arguments) {
    grid-template-columns: 1fr;
  }

  .h5p-category-task-category.h5p-category-task-unprocessed {
    border: 2px solid var(--color-alternative-darker);
    border-radius: var(--border-radius);
    box-sizing: border-box;
    width: 100%;

    &.display-none {
      display: none;
    }

    .h5p-category-task-category-content {
      box-sizing: border-box;
      display: flex;
      column-gap: var(--spacing-s);
      padding: var(--category-content-padding);
      row-gap: var(--spacing-xxs);

      & > div {
        width: 100%;
      }
    }
  }

  .h5p-category-task-category.h5p-category-task-unprocessed {
    grid-column: 1 / -1;
  }

  &.stacked-view {
    .h5p-category-task-category.h5p-category-task-unprocessed {
      .h5p-category-task-category-content {
        flex-direction: column;
      }
    }
  }

  .h5p-category-task-category.h5p-category-task-category-container {
    width: 100%;

    .h5p-category-task-category-header {
      align-items: center;
      background-color: var(--background-color, #2679C5);
      border-radius: var(--border-radius) var(--border-radius) 0 0;
      color: var(--color, #ffffff);
      display: flex;
      font-size: var(--font-size-l);
      font-weight: bold;
      line-height: 1.5;
      min-height: calc(2.5 * var(--spacing-s));
      overflow: hidden;
      padding-inline: var(--spacing-s);
    }

    .h5p-category-task-category-content {
      border: 2px solid var(--background-color, var(--color-alternative-darker));
      border-radius: 0 0 var(--border-radius) var(--border-radius);
      border-top: 0;
      display: flex;
      flex-direction: column;
      gap: var(--spacing-xxs);
      padding: var(--category-content-padding);

      .h5p-category-task-column {
        border: var(--category-column-border-width) dashed var(--color-alternative-darker);
        border-radius: var(--border-radius);
        padding: var(--category-column-padding);
      }
    }
  }
}

@container h5p-category-task (width <= 480px) {
  .h5p-category-task-surface.has-remaining-unprocessed-arguments {
    grid-template-columns: 1fr;

    .h5p-category-task-category.h5p-category-task-unprocessed {
      .h5p-category-task-category-content {
        flex-direction: column;
      }
    }

    &.stacked-view {
      .h5p-category-task-category.h5p-category-task-unprocessed {
        grid-column: auto;
        grid-row: auto;
      }
    }
  }
}
