.h5p-category-task-surface {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;

  .h5p-category-task-category.h5p-category-task-unprocessed {
    border: 2px solid #dbe2e8;
    border-radius: var(--border-radius);
    box-sizing: border-box;
    grid-column: 1 / -1;
    width: 100%;

    &.display-none {
      display: none;
    }

    .h5p-category-task-category-content {
      box-sizing: border-box;
      display: flex;
      column-gap: 1rem;
      padding: 0.5rem;
      row-gap: 0.5rem;
      width: 100%;

      & > div {
        width: 100%;
      }
    }

    .h5p-category-task-unprocessed-argument-list {
      width: 100%;
    }
  }

  .h5p-category-task-category.h5p-category-task-category-container {
    width: 100%;

    .h5p-category-task-category-header {
      overflow: hidden;
      min-height: 2.5rem;
      padding: 0 1.1875rem;
      display: flex;
      align-items: center;
      font-style: italic;
      text-decoration: none solid rgb(255, 255, 255);
      line-height: 1.5625rem;
      text-shadow: 2px 1px 3px rgba(28,28,28,0.5);
      border-radius: var(--border-radius) var(--border-radius) 0 0;
      background-color: var(--background-color, #2679C5);
      color: var(--color, #ffffff);
      font-size: 1.125rem;
    }

    .h5p-category-task-category-content {
      border: 2px solid #dbe2e8;
      border-radius: 0 0 var(--border-radius) var(--border-radius);
      border-top: 0;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      padding: 0.75rem;

      .h5p-category-task-draggable-container:first-of-type {
        margin-top: 0;
      }

      /* TODO: Should this be here or in Element.scss? */
      .h5p-category-task-draggable-element {
        border: 2px dashed #cfcfcf;
        padding: 0.3125rem;
        border-radius: var(--border-radius);
      }

      /* TODO: Should this be here or in Element.scss? */
      .h5p-category-task-draggable-element--dragging {
        border-color: transparent;
      }
    }
  }
}

@container h5p-category-task (width <= 480px) {
  .h5p-category-task-surface {
    grid-template-columns: 1fr;

    .h5p-category-task-category.h5p-category-task-unprocessed .h5p-category-task-category-content {
      flex-direction: column;
    }
  }
}
