.h5p-category-task-solution-outer-container {
  margin-bottom: 1rem;
  margin-inline: 0.75rem;

  .h5p-category-task-solution-header {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
  }

  .h5p-category-task-solution-container {
    padding: 1em;
    background: #FAFAFA;
  }
}
.h5p-category-task-solution-title {
  font-size: 1.125em;
  margin-bottom: 0.5em;
}

.h5p-category-task-solution-introduction {
  font-size: 1em;
  line-height: 1.2;
  margin-bottom: 1em;
}

.h5p-category-task-solution-sample {
  background: #FFFFFF;
  border: 1px solid #e0e0e0;
  overflow: auto;
  overflow-x: hidden;
  list-style: none;
  padding: 0;
  margin: 0;
  flex-shrink: 0;
  flex-wrap: wrap;
}

.h5p-category-task-solution-sample-text {
  padding: 0.5em 1em 0.5em 1em;
  margin: 0;
  line-height: 1.4;
}
